#header #user-name {
  padding: 15px;
  font-size: 2em;
  font-weight: bold; }

#main_slider {
  width: 948px;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  height: 363px; }

#header #logout {
  padding: 15px;
  line-height: 40px;
  vertical-align: middle; }
#header a.header-link {
  color: #FFFFFF; }

.product {
  border: 1px #DDDDDD solid;
  padding: 15px;
  margin: 5px; }

.item {
  width: 25%; }

.item.w2 {
  width: 50%; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* ---- input ---- */
/* ---- button ---- */
/* ---- isotope ---- */
/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both; }

/* ---- .product-item ---- */
.product-item {
  position: relative;
  float: left;
  height: 400px;
  padding: 5px;
  color: #262524; }

.border {
  border: 1px solid #DDD;
  height: 100%;
  width: 100%;
  margin: 5px;
  padding: 10px 20px 10px 20px; }

.product-item .name {
  margin-top: 5px;
  letter-spacing: 0;
  font-size: 14px;
  font-weight: bold; }

.product-item .description {
  margin-bottom: 10px;
  font-size: 12px; }

.product-item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white; }

.product-item .number {
  position: absolute;
  right: 8px;
  top: 5px; }

.product-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px; }

.product-item.alkali {
  background: #FF0000;
  background: red; }

.product-item.alkaline-earth {
  background: #FF8800;
  background: #ff9900; }

.product-item.lanthanoid {
  background: #FFFF00;
  background: #ccff00; }

.product-item.actinoid {
  background: #00FF00;
  background: #33ff00; }

.product-item.transition {
  background: #00FF88;
  background: #00ff66; }

.product-item.post-transition {
  background: #00FFFF;
  background: cyan; }

.product-item.metalloid {
  background: #0088FF;
  background: #0066ff; }

.product-item.diatomic {
  background: #0000FF;
  background: #3300ff; }

.product-item.halogen {
  background: #FF00FF;
  background: #cc00ff; }

.product-item.noble-gas {
  background: #FF0088;
  background: #ff0099; }

/*Login bar*/
.text-primary {
  color: #C1D72E; }

.panel-primary {
  border-color: #C1D72E; }

.panel-primary > .panel-heading {
  background-color: #C1D72E;
  border-color: #C1D72E; }

.panel-primary > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #C1D72E; }

.panel-primary > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #C1D72E; }

.bg-primary {
  color: #FFFFFF;
  background-color: #C1D72E; }

a.bg-primary:hover {
  background-color: #9EB022; }

.btn-primary {
  background-color: #C1D72E;
  border-color: #C1D72E; }

.btn-primary:hover {
  background-color: #C1D72E;
  border-color: #C1D72E; }

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #C1D72E; }

.btn-primary .badge {
  color: #C1D72E; }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #C1D72E; }

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #C1D72E; }

.navbar {
  border: none; }

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #C1D72E; }

.navbar-default {
  background-color: #C1D72E; }

.navbar-inverse {
  background-color: #222222;
  border-color: #080808;
  border-bottom: 10px solid #C1D72E; }

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #C1D72E;
  border-color: #C1D72E; }

.label-primary {
  background-color: #C1D72E; }

.progress-bar {
  background-color: #C1D72E; }

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  background-color: #C1D72E;
  border-color: #C1D72E; }

a.text-primary:hover {
  color: #9EB022; }

a.bg-primary:hover {
  background-color: #9EB022; }

.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #9EB022; }

@media (min-width: 768px) {
  .navbar {
    border-radius: 0px; } }
.theme-default .nivoSlider {
  box-shadow: 0px 0px 0px 0px #4A4A4A; }

.tales {
  width: 100%; }

.carousel-inner {
  width: 100%;
  max-height: 400px !important;
  min-height: 300px !important; }

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  min-height: 293px;
  min-width: 958px; }

.carousel-control.left {
  background-image: linear-gradient(to right, transparent 100%, transparent 100%);
  background-repeat: repeat-x; }

.carousel-control.right {
  background-image: linear-gradient(to left, transparent 100%, transparent 100%);
  background-repeat: repeat-x; }

.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
  left: 25%;
  margin-left: -10px; }

.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
  right: 25%; }

.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
  right: 25%; }

.lead-no-margin {
  line-height: 25px;
  font-size: 16px;
  margin-top: 10px; }

@media (min-width: 768px) {
  .lead-no-margin {
    line-height: 25px;
    font-size: 16px;
    margin-top: 10px; } }
@media (min-width: 992px) {
  .lead-no-margin {
    line-height: 35px;
    font-size: 16px; } }
@media (min-width: 1200px) {
  .lead-no-margin {
    line-height: 55px;
    font-size: 21px; } }
#subnav {
  border-bottom: 1px solid #DDDDDD; }

#footer {
  color: #A5A5A5;
  background-color: #545557;
  padding: 25px 0 25px 0;
  margin-bottom: 25px; }

#lower-footer {
  margin-top: 25px;
  border-top: 1px #FFF solid; }

.footer {
  background-color: #545557;
  color: #A5A5A5;
  padding-bottom: 5px; }

.footer p {
  font-size: 12px;
  padding-top: 10px; }

.lower-footer {
  background-color: #545557;
  color: #A5A5A5;
  padding-bottom: 10px; }

.lower-footer a {
  color: #A5A5A5;
  margin-right: 20px;
  font-size: 12px; }

.copyright {
  color: #A5A5A5;
  text-align: right;
  font-size: 12px; }

.no-search .select2-search {
  display: none; }

div.slideOutTab {
  position: fixed;
  width: 320px;
  height: 55px;
  top: 100px;
  left: -257px;
  padding-top: 5px; }

div.slideOutTab #cart-div {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-indent: -999em;
  background: 0 0 url("/static/images/cart.png") no-repeat;
  background-color: #C1D72E;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px; }

table#item-table {
  width: 75%;
  margin-left: 10px; }

div#cart-body {
  padding-top: 10px; }

#item-table tr.odd {
  background-color: #EEEEEE; }

#item-table tr td {
  padding: 3px 10px 3px 10px; }

#cart-footer {
  width: 75%;
  padding-top: 10px; }

.cart-page #cart-items {
  width: 100%;
  font-size: 16px; }
  .cart-page #cart-items .odd {
    background-color: #EEEEEE; }
  .cart-page #cart-items .quantity {
    width: 10%;
    padding-right: 20px; }
  .cart-page #cart-items .quantity-value {
    width: 15%;
    padding-right: 20px; }
  .cart-page #cart-items .name {
    width: 60%; }
  .cart-page #cart-items .unit-price, .cart-page #cart-items .total {
    width: 15%; }
