{% extends "bootstrap/base.html" %}

{% block styles %}
    {{ super() }}

    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" media="screen">
{% endblock %}



{% block content %}
    <div class="container-fluid">
        {% block header %}
            <div class="row">
                <div class="bg-primary clearfix" style="" id="header">
                    <div id="user-name" class="pull-left">
                        {% if loggedin %}<a href="/profile/" class="header-link">{{ user.first_name }} {{ user.last_name }}</a>{% endif %}</div>
                    <div class="pull-right" id="logout"><a href="/products/" class="header-link">Products</a> | {% if loggedin %}<a href="/logout/" class="header-link">Logout</a>{% else %}
                        <a href="/register/" class="header-link">Register</a> | <a href="/login/" class="header-link">Login</a>{% endif %}</div>
                </div>
            </div>
        {% endblock %}

        {% block container %}
            <div id="system-message" style="display: none;"></div>
        {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>

    <script>
        var api_endpoint = "http://127.0.0.1:8111";


        $.fn.serializeObject = function () {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        $(document).ready(function () {
            {% if redirect %}
                $.removeCookie("token", {path: '/'});
                window.location = "{{ redirect }}";
            {% endif %}
            {% block document_ready %}
                if (window.location.pathname != "/" && window.location.pathname != "/login/" &&
                        window.location.pathname != "/register/" && window.location.pathname != "/products/") {
                    var token = $.cookie("token");
                    if (typeof token === 'undefined') {
                        window.location = '/login/?next=' + window.location.pathname;
                    }
                    console.log(token);
                }
            {% endblock %}
        });

    </script>
{% endblock %}
