{% extends 'base.html' %}

{% block container %}
    {{ super() }}
    <div class="container">
        <div class="row cart-items">
            <div class="table-responsive">
                <table class="table table-striped table-condensed">
                    <thead>
                    <tr>
                        <th class="name">Product</th>
                        <th class="quantity">Quantity</th>
                        <th class="unit-price">Unit Price</th>
                        <th class="total">Total</th>
                    </tr>
                    </thead>
                    <tbody id="cart-items">
                    {% for item in order['items'] %}
                        <tr>
                            <td>{{ item.product.name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>${{ item.product.wholesale_price }}</td>
                            <td>{{ item|item_wholesale_total|format_currency }}</td>
                        </tr>
                    {% endfor %}
                    <tr style="border-top: #000000 solid 2px;">
                        <td colspan="2"></td>
                        <td>Sub Total</td>
                        <td>{{ order['order_subtotal']|format_currency }}</td>
                    </tr>
                    {% for item in order['extra_price_fields'] %}
                        <tr>
                            <td colspan="2"></td>
                            <td>{{ item['label'] }}</td>
                            <td>{{ item['value']|format_currency }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="2"></td>
                        <td>Total</td>
                        <td>{{ order['order_total']|format_currency }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div id="solle-rewards" style="display: None;">

                <div class="row">
                    <div class="col-lg-12 text-danger" id="apply-rewards-message"></div>
                    <div class="col-lg-6">
                        <label for="coupon-code" class="sr-only">Apply SolleRewards</label>
                        <input type="text" class="form-control" width="100" placeholder="Apply SolleRewards"
                               id="applied-rewards"/>
                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-primary" id="apply-rewards-btn">Apply SolleRewards</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-info">
                        SolleRewards Available: <span id="solle-rewards-available"></span>
                    </div>
                </div>
            </div>

            <div class="checkbox">
                <label><input type="checkbox" id="set-sollesafe" name="set-sollesafe"/> Set as SolleSafe</label>
            </div>

            <div class="" id="autoship-day-div" style="display: none; margin-bottom: 10px;">
                <label for="autoship-day">Process order on: </label>
                <select class="" id="autoship-day" name="autoship-day">
                    <option></option>
                    {% for day in days %}
                        <option value="{{ day }}">{{ day }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

{#        <div class="row">#}
{#            <ul class="nav nav-tabs">#}
{#                <li role="presentation" id="stored-cards"><a href="#">Stored Cards</a></li>#}
{#                <li role="presentation" class="active" id="add-card"><a href="#">Add a New Card</a></li>#}
{#            </ul>#}
{#        </div>#}
        <div class="row">
{#            <div id="stored-cards-view" class="hide">#}
{#                <h1>HIDDEN</h1>#}
{#            </div>#}
            <div id="add-card-view">
                <div id="add-card-msg" style="display: none;">Change</div>

                <div class="card-wrapper"></div>
                {#                <form id="card-form" action="{{ pmi_action }}" method="post">#}
                {#                    <div class="form-group col-lg-6">#}
                {#                        <label for="number" class="sr-only">Card Number</label>#}
                {#                        <input type="text" class="form-control" name="number" id="number" placeholder="Card Number">#}
                {#                    </div>#}
                {#                    <div class="form-group col-lg-6">#}
                {#                        <label for="name" class="sr-only">Name</label>#}
                {#                        <input type="text" class="form-control" name="name" id="name" placeholder="Name"/>#}
                {#                    </div>#}
                {#                    <div class="form-group col-lg-6">#}
                {#                        <label for="expiry" class="sr-only">Expiration</label>#}
                {#                        <input type="text" class="form-control" name="expiry" id="expiry"#}
                {#                               placeholder="Expiration (MM/YY)"/>#}
                {#                    </div>#}
                {#                    <div class="form-group col-lg-6">#}
                {#                        <label for="cvc" class="sr-only">CVC</label>#}
                {#                        <input type="text" class="form-control" name="cvv" id="cvv" placeholder="CVV"/>#}
                {#                    </div>#}
                {#                    <div class="form-group col-lg-6">#}
                {#                        <label for="address1" class="sr-only">Address</label>#}
                {#                        <input type="text" class="form-control" name="address1" id="address1" placeholder="Address">#}
                {#                    </div>#}
                {#                    <div class="form-group col-lg-6">#}
                {#                        <label for="address1" class="sr-only">City</label>#}
                {#                        <input type="text" class="form-control" name="city" id="city" placeholder="City">#}
                {#                    </div>#}
                {#                    <div class="form-group col-lg-6">#}
                {#                        <label for="address1" class="sr-only">State</label>#}
                {#                        <input type="text" class="form-control" name="state" id="state" placeholder="State">#}
                {#                    </div>#}
                {#                    <div class="form-group col-lg-6">#}
                {#                        <label for="address1" class="sr-only">Postal Code</label>#}
                {#                        <input type="text" class="form-control" name="postal-code" id="postal-code"#}
                {#                               placeholder="Postal Code">#}
                {#                    </div>#}
                {#                    <div class="form-group col-lg-6">#}
                {#                        <div class="checkbox">#}
                {#                            <label>#}
                {#                                <input type="checkbox" name="echo" id="save-card"> Save this card#}
                {#                            </label>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                    <div class="form-group col-lg-6">#}
                {#                        <button class="btn btn-primary" id="add-card">Complete Purchase</button>#}
                {#                    </div>#}
                {#                    <input type="hidden" id="CID" name="CID" value="{{ cid }}">#}
                {#                    <input type="hidden" id="settings-cipher" name="SettingsCipher" value="{{ settings_cipher }}">#}
                {#                </form>#}

{#                <form id="card-form" action="{{ pmi_action }}" method="post">#}
{#                    <input type="hidden" name="PaymentTypeId" value="Visa">#}
{#                    <div class="form-group col-lg-6">#}
{#                        <label for="number" class="sr-only">Card Number</label>#}
{#                        <input type="text" class="form-control" name="CardNumber" id="number" placeholder="Card Number">#}
{#                    </div>#}
{#                    <div class="form-group col-lg-6">#}
{#                        <label for="name" class="sr-only">Name</label>#}
{#                        <input type="text" class="form-control" name="CardHolderName" id="name" placeholder="Name"/>#}
{#                    </div>#}
{#                    <div class="form-group col-lg-6">#}
{#                        <label for="expiry" class="sr-only">Expiration</label>#}
{#                        <input type="text" class="form-control" name="expiry" id="expiry"#}
{#                               placeholder="Expiration Month (MM/YY)"/>#}
{#                    </div>#}
{#                    <input type="hidden" name="ExpMonth" value="" id="exp-month">#}
{#                    <input type="hidden" name="ExpYear" value="" id="exp-year">#}
{#                    <div class="form-group col-lg-6">#}
{#                        <label for="cvc" class="sr-only">CVC</label>#}
{#                        <input type="text" class="form-control" name="CVV" id="cvv" placeholder="CVV"/>#}
{#                    </div>#}
{#                    <div class="form-group col-lg-6">#}
{#                        <label for="address1" class="sr-only">Address</label>#}
{#                        <input type="text" class="form-control" name="Address1" id="address1" placeholder="Address">#}
{#                    </div>#}
{#                    <div class="form-group col-lg-6">#}
{#                        <label for="address1" class="sr-only">City</label>#}
{#                        <input type="text" class="form-control" name="City" id="city" placeholder="City">#}
{#                    </div>#}
{#                    <div class="form-group col-lg-6">#}
{#                        <label for="address1" class="sr-only">State</label>#}
{#                        <input type="text" class="form-control" name="State" id="state" placeholder="State">#}
{#                    </div>#}
{#                    <div class="form-group col-lg-6">#}
{#                        <label for="address1" class="sr-only">Postal Code</label>#}
{#                        <input type="text" class="form-control" name="PostalCode" id="postal-code"#}
{#                               placeholder="Postal Code">#}
{#                    </div>#}
{#                    <div class="form-group col-lg-6">#}
{#                        <div class="checkbox">#}
{#                            <label>#}
{#                                <input type="checkbox" name="echo" id="save-card"> Save this card#}
{#                            </label>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="form-group col-lg-6">#}
{#                        <button class="btn btn-primary" id="add-card">Complete Purchase</button>#}
{#                    </div>#}
{#                    <input type="hidden" id="CID" name="CID" value="{{ cid }}">#}
{#                    <input type="hidden" id="settings-cipher" name="SettingsCipher" value="{{ settings_cipher }}">#}
{#                </form>#}
            </div>
        </div>

        <div class="row">
            <div class="pull-left col-lg-6">
                <h3>Select a Payment Method <small>(<a href="/card/add/">Add a New Card</a>)</small></h3>

                <form id="purchase-form" method="post">
                    <input type="hidden" name="order-id" value="{{ order.id }}"/>

                    <div id="payment-method"></div>
                    {% if order['user']['first_order'] and order['qv'] >= 150 %}
                        <div class="row">
                            <div class="col-lg-12 text-danger" id="apply-discount-message"></div>
                            <div class="col-lg-6">
                                <label for="coupon-code" class="sr-only">Apply Discount Code</label>
                                <input type="text" class="form-control" width="100"
                                       placeholder="Discount/Gift Card Code"
                                       id="discount-code"/>
                            </div>
                            <div class="col-lg-6">
                                <button class="btn btn-primary" id="apply-discount">Apply Discount</button>
                            </div>
                        </div>
                    {% endif %}

                    <div id="solle-rewards" style="display: None;">

                        <div class="row">
                            <div class="col-lg-12 text-danger" id="apply-rewards-message"></div>
                            <div class="col-lg-6">
                                <label for="coupon-code" class="sr-only">Apply SolleRewards</label>
                                <input type="text" class="form-control" width="100" placeholder="Apply SolleRewards"
                                       id="applied-rewards"/>
                            </div>
                            <div class="col-lg-6">
                                <button class="btn btn-primary" id="apply-rewards-btn">Apply SolleRewards</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-info">
                                SolleRewards Available: <span id="solle-rewards-available"></span>
                            </div>
                        </div>
                    </div>

                    <div class="checkbox">
                        <label><input type="checkbox" id="set-sollesafe" name="set-sollesafe"/> Set as SolleSafe</label>
                    </div>

                    <div class="" id="autoship-day-div" style="display: none; margin-bottom: 10px;">
                        <label for="autoship-day">Process order on: </label>
                        <select class="" id="autoship-day" name="autoship-day">
                            <option></option>
                            {% for day in days %}
                                <option value="{{ day }}">{{ day }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button class="btn btn-primary" id="purchase-btn" disabled="disabled">Complete Purchase</button>
                    {#                    <button class="btn btn-primary" id="autoship-btn" disabled="disabled">Set as SolleSafe</button>#}
                </form>
            </div>

            <!--div class="new-card pull-right col-lg-6">
                <h3>Add a New Payment Method</h3>

                <div id="add-card-msg" style="display: none;">Change</div>

                <div class="card-wrapper"></div>
                <form id="card-form">
                    <div class="form-group col-lg-6">
                        <label for="number" class="sr-only">Card Number</label>
                        <input type="text" class="form-control" name="number" id="number" placeholder="Card Number">
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="name" class="sr-only">Name</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Name"/>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="expiry" class="sr-only">Expiration</label>
                        <input type="text" class="form-control" name="expiry" id="expiry" placeholder="Expiration"/>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="cvc" class="sr-only">CVC</label>
                        <input type="text" class="form-control" name="cvc" id="cvc" placeholder="CVC"/>
                    </div>
                    <div class="form-group col-lg-12">
                        <button class="btn btn-primary" id="add-card">Add Card</button>
                    </div>
                </form>
            </div-->
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        var solle_rewards_amt = 0;

        function load_credit_cards() {
            var payment_method_div = $("#payment-method");


            payment_method_div.empty();
            payment_method_div.block({
                message: '<img src="{{ url_for('static', filename='images/solle-circle-on-black-ajax-loader.gif') }}" width="15" style="padding-bottom: 4px;" /> Loading cards...',
                css: {
                    border: 'none',
                    padding: '15px',
                    backgroundColor: '#000',
                    '-webkit-border-radius': '10px',
                    '-moz-border-radius': '10px',
                    opacity: .75,
                    color: '#fff'
                }
            });
            $.getJSON('/ajax/get_cards/', function (data) {
                var has_default = false;
                if (data.length == 0) {
                    $("#payment-method").append("<p>No credit cards on file.</p>");
                } else {
                    $.each(data, function (key, value) {
                        var expired = false;
                        var current_date = new Date();
                        var current_year = current_date.getFullYear();
                        var current_month = current_date.getMonth();

                        var value_exp_month = parseInt(value.ExpirationDate.substring(0, 2));
                        var value_exp_year = parseInt("20" + value.ExpirationDate.substring(2, 4));
                        if (value_exp_year < current_year) {
                            expired = true;
                        } else if (value_exp_year == current_year && value_exp_month < current_month + 1) {
                            expired = true;
                        }

                        var checked = (key == 0) ? " checked='checked' " : "";
                        if (expired) {
                            card = "<div>Expired: " + value.PaymentMethodType + " - " + value.ObfuscatedAccountNumber + " (" + value_exp_month + "/" + value_exp_year + ")</div>";
                        } else {
                            card = "<div><input name='method' type='radio'" + checked + " value='" +
                                    value.PaymentMethodID + "'> " + value.PaymentMethodType + " - " + value.ObfuscatedAccountNumber + " (" + value_exp_month + "/" + value_exp_year + ")</div>";
                            has_default = true;
                        }
                        $("#payment-method").append(card);
                    });
                    $("#purchase-btn").removeAttr("disabled");
                    $("#autoship-btn").removeAttr("disabled");

                }
                payment_method_div.unblock();
            });
        }

        function load_solle_rewards() {
            var solle_rewards_div = $("#solle-rewards");

            $.getJSON('/ajax/get_solle_rewards/', function (data) {
                if (data.success) {
                    // TODO: Show their solle rewards.
                    $("#solle-rewards-available").html(data.rewards.toFixed(2));
                    solle_rewards_amt = data.rewards.toFixed(2);
                    solle_rewards_div.toggle();
                }
            });
        }

        $(document).ready(function () {
            load_credit_cards();
            load_solle_rewards();


            $("#card-form").card({
                container: '.card-wrapper',
                formSelectors: {
                    numberInput: "input#number",
                    cvcInput: "input#cvv",
                    nameInput: "input#name",
                    expiryInput: "input#expiry"
                },
                width: 300
            });

{#            $("#add-card").click(function () {#}
{#                var form_data = $("#card-form").serialize();#}
{#                var token = null;#}
{#                $.getJSON('/ajax/pre_add_card/', function (data) {#}
{#                    console.log(data);#}
{#                    token = data.token;#}
{#                });#}
{#                $.post('https://protectpay.propay.com')#}
                {#                $.post('/ajax/add_card/', form_data, function (data) {#}
                {#                    console.log(data);#}
                {#                    if (data.success) {#}
                {#                        $("#add-card-msg").html(data.results.message).show().removeClass("text-danger").addClass("text-success");#}
                {#                        load_credit_cards();#}
                {#                    } else {#}
                {#                        $("#add-card-msg").html(data.results.detail).show().removeClass("text-success").addClass("text-danger");#}
                {#                    }#}
                {#                }, "json").error(function (data, responseT, one, two, three) {#}
                {#                    console.log(data);#}
                {#                }, "json");#}
                {#                console.log(form_data);#}
{#            });#}

            $("input:radio[name*=method]").change(function () {
                alert("GO!");
            });

            $("#purchase-form").submit(function () {
                var form_data = $(this).serialize();
                console.log(form_data);
                $.blockUI({
                    message: '<img src="{{ url_for('static', filename='images/solle-circle-on-black-ajax-loader.gif') }}" width="15" style="padding-bottom: 4px;" /> Please wait...',
                    css: {
                        border: 'none',
                        padding: '15px',
                        backgroundColor: '#000',
                        '-webkit-border-radius': '10px',
                        '-moz-border-radius': '10px',
                        opacity: .75,
                        color: '#fff'
                    }
                });
                if ($("#set-sollesafe").prop("checked")) {
                    $.post("/ajax/autoship/", form_data, function (data) {
                        if (data.success) {
                            $.unblockUI();
                            var system_message = $("#system-message");
                            system_message.empty();

                            var new_alert = "<div class='alert alert-success alert-dismissible' role='success'>";
                            new_alert += "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>";
                            new_alert += "<span aria-hidden='true'>&times;</span>";
                            new_alert += "</button>";
                            new_alert += data.detail;
                            new_alert += " <a href='/products'>Return to the store</a>";
                            new_alert += "</div>";
                            system_message.append(new_alert);
                            system_message.show("scroll");
                        } else {
                            $.unblockUI();
                            var system_message = $("#system-message");
                            system_message.empty();

                            var new_alert = "<div class='alert alert-danger alert-dismissible' role='alert'>";
                            new_alert += "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>";
                            new_alert += "<span aria-hidden='true'>&times;</span>";
                            new_alert += "</button>";
                            new_alert += data.detail;
                            new_alert += " <a href='/products'>Return to the store</a>";
                            new_alert += "</div>";
                            system_message.append(new_alert);
                            system_message.show("scroll");
                        }
                    }, "json");
                } else {
                    $.post("/ajax/purchase/", form_data, function (data) {
                        if (data.success) {
                            console.log(data.detail);
                            window.location = "/receipt/" + data.order_id + "/";
                        } else {
                            $.unblockUI();
                            var system_message = $("#system-message");
                            system_message.empty();

                            var new_alert = "<div class='alert alert-danger alert-dismissible' role='alert'>";
                            new_alert += "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>";
                            new_alert += "<span aria-hidden='true'>&times;</span>";
                            new_alert += "</button>";
                            new_alert += data.detail;
                            new_alert += " <a href='/products'>Return to the store</a>";
                            new_alert += "</div>";
                            system_message.append(new_alert);
                            system_message.show("scroll");
                        }
                        {#                    console.log(data);#}
                        {#                    alert("WORKED");#}
                    }, "json")
                }
            });

            $("#set-sollesafe").on("change", function () {
                if ($(this).prop("checked")) {
                    $("#purchase-btn").text("Set as SolleSafe");

                    $("#autoship-day-div").show();
                } else {
                    $("#purchase-btn").text("Complete Purchase");
                    $("#autoship-day-div").hide();
                }
            });

            $("#apply-discount").on("click", function () {
                var code = $("#discount-code").val();

                if (code.length > 0) {
                    $.blockUI({
                        message: '<img src="{{ url_for('static', filename='images/solle-circle-on-black-ajax-loader.gif') }}" width="15" style="padding-bottom: 4px;" /> Updating discounts...',
                        css: {
                            border: 'none',
                            padding: '15px',
                            backgroundColor: '#000',
                            '-webkit-border-radius': '10px',
                            '-moz-border-radius': '10px',
                            opacity: .75,
                            color: '#fff'
                        }
                    });
                    $.post("/ajax/apply-discount/", {'code': code, 'order-id': {{ order.id }}}, function (data) {
                        if (data.success) {
                            location.reload();
                        } else {
                            $("#apply-discount-message").html(data.message);
                            $.unblockUI();
                        }
                    }).fail(function () {
                        $.unblockUI();
                    });
                    console.log(code);
                    return false;
                } else {
                    console.log("NO CODE");
                    return false;
                }
            });

            $("#apply-rewards-btn").on("click", function () {
                var amt = $("#applied-rewards").val();

                if (!isNaN(parseFloat(amt)) && isFinite(amt)) {
                    amt = parseFloat(amt);
                    if (amt > solle_rewards_amt) {
                        $("#apply-rewards-message").html("The amount must be less then the available amount.");
                        return false;
                    } else {
                        $.blockUI({
                            message: '<img src="{{ url_for('static', filename='images/solle-circle-on-black-ajax-loader.gif') }}" width="15" style="padding-bottom: 4px;" /> Updating discounts...',
                            css: {
                                border: 'none',
                                padding: '15px',
                                backgroundColor: '#000',
                                '-webkit-border-radius': '10px',
                                '-moz-border-radius': '10px',
                                opacity: .75,
                                color: '#fff'
                            }
                        });
                        $.post("/ajax/apply-rewards/", {"amt": amt, "order-id": {{ order.id }}}, function (data) {
                            if (data.success) {
                                location.reload();
                            } else {
                                $("#apply-rewards-message").html(data.message);
                                $.unblockUI();
                            }
                        }).fail(function () {
                            $unblockUI();
                        });
                        return false;
                    }
                } else {
                    $("#apply-rewards-message").html("The amount of SolleRewards to use must be a number.");
                    return false;
                }
                return false;
            });

            $("#autoship-day").select2({width: "175px", placeholder: "Select a Day"});

            $(document).on("click", "#stored-cards a", function () {
                $("#stored-cards").addClass("active");
                $("#stored-cards-view").removeClass("hide");
                $("#add-card").removeClass("active");
                $("#add-card-view").addClass("hide");
            });

            $(document).on("click", "#add-card a", function () {
                $("#stored-cards").removeClass("active");
                $("#stored-cards-view").addClass("hide");
                $("#add-card").addClass("active");
                $("#add-card-view").removeClass("hide");
            });

            $(document).on("submit", "#card-form", function (e) {
                {#                        e.preventDefault();#}
                var expiration = $("#expiry").val().split(" / ");
                var exp_month = expiration[0];
                var exp_year = expiration[1];

                $("#exp-month").val(exp_month);
                $("#exp-year").val(exp_year);
                $("#number").val($("#number").val().replace(/\s/g, ''));
                {#                        console.log(exp_month);#}
                {#                        console.log(exp_year);#}
                {##}
                {#                        var payload = "CID=" + $("#CID").val()#}
                {#                        payload += "&SettingsCipher=" + encodeURIComponent($("#settings-cipher").val());#}
                {#                        payload += "&PaymentTypeId=" + "Visa";#}
                {#                        payload += "&CardNumber=" + $("#number").val().replace(/\s/g, '');#}
                {#                        payload += "&ExpMonth=" + exp_month;#}
                {#                        payload += "&ExpYear=" + exp_year;#}
                {#                        payload += "&CVV=" + $("#cvv").val();#}
                {#                        payload += "&CardHolderName=" + $("#name").val();#}
                {#                        payload += "&Address1=" + $("#address1").val();#}
                {#                        payload += "&City=" + $("#city").val();#}
                {#                        payload += "&State=" + $("#state").val();#}
                {#                        payload += "&PostalCode=" + $("#postal-code").val();#}
                {##}
                {#                        console.log(payload);#}
                {#                        var xhttp = new XMLHttpRequest();#}
                {#                        if (xhttp != null) {#}
                {#                            xhttp.open("POST", "https://protectpaytest.propay.com/pmi/spr.aspx", true);#}
                {#                            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");#}
                {#                            xhttp.onreadystatechange = function () {#}
                {#                                if (xhttp.readyState === 4) {#}
                {#                                    var resp = xhttp.responseText;#}
                {#                                    alert(resp);#}
                {#                                }#}
                {#                            };#}
                {#                            xhttp.send(payload);#}
                {##}
                {#                        }#}
                {#                    $.post("{{ pmi_action }}", payload, function (data) {#}
                {#                        console.log(data);#}
                {#                    });#}
            });
        });
    </script>
    <script src="{{ url_for('static', filename='js/jquery.card.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.blockUI.js') }}"></script>
{% endblock %}
