{% extends "base.html" %}

{% block styles %}
    {{ super() }}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/nivo-slider.css') }}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nivo_default/default.css') }}" type="text/css" media="screen"/>
{% endblock %}

{% block container %}
    <div id="main_slider">
        <a style="display:none;" href="store/store.php"><img
                src="{{ url_for('static', filename='images/en/sliderquality3.jpg') }}"/></a>
        <a style="display:none;" href="solle_renue.php"><img
                src="{{ url_for('static', filename='images/en/ReNueSlider.jpg') }}"/></a>
        <!--a style="display:none;" href="solle_complete.php"><img
                src="/assets/images/<?= $lang ?>/workoutnotcomplete.jpg"/></a>
        <a style="display:none;" href="excell.php"><img src="/assets/images/<?= $lang ?>/getreadytoexcell.jpg"/></a>
        <a style="display:none;" href="store/store.php"><img
                src="/assets/images/<?= $lang ?>/anightofsollefulslumber.jpg"/></a>
        <a style="display:none;" href="vital.php"><img src="/assets/images/<?= $lang ?>/youarewhatyoueat2.jpg"/></a>
        <a style="display:none;" href="store/store.php"><img
                src="/assets/images/<?= $lang ?>/thinkmoreclearly.jpg"/></a>
        <a style="display:none;" href="cinnamate.php"><img src="/assets/images/<?= $lang ?>/addalittlespice.jpg"/></a>
        <a style="display:none;" href="store/store.php"><img src="/assets/images/<?= $lang ?>/liveeachday.jpg"/></a>
        <a style="display:none;" href="about_us.php"><img
                src="/assets/images/<?= $lang ?>/welcometoyournewpath.jpg"/></a>
        <a style="display:none;" href="store/store.php"><img src="/assets/images/<?= $lang ?>/thegiftofhealth.jpg"/></a>
        <a style="display:none;" href="balance_oil.php"><img src="/assets/images/<?= $lang ?>/4-new-aromatherapy.jpg"/></a>
        <a style="display:none;" href="store/store.php"><img
                src="/assets/images/<?= $lang ?>/giveyourselfnaturalglow.jpg"/></a>
        <a style="display:none;" href="blog"><img src="/assets/images/<?= $lang ?>/followourprogress.jpg"/></a>
        <a style="display:none;" href="about_us.php"><img src="/assets/images/<?= $lang ?>/yourbodyyourmind.jpg"/></a>
        <a style="display:none;" href="store/store.php"><img src="/assets/images/<?= $lang ?>/4wardthinking.jpg"/></a>
        <a style="display:none;" href="solle_quality.php"><img
                src="/assets/images/<?= $lang ?>/sollecertaincommitment.jpg"/></a-->
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.nivo.slider.pack.js') }}"></script>

    <script>
    $(document).ready(function() {
        var token = $.cookie("token");

        $('#main_slider').nivoSlider({controlNav: false, pauseTime: 7000});
    });
    </script>
{% endblock %}
