{% extends "base.html" %}

{% block container %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Products</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <p><input type="text" id="quicksearch" placeholder="Search"/></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div id="filters" class="button-group">
                <button class="button is-checked" data-filter="*">{{ _('Show All') }}</button>
                {% for group in groups %}
                    <button class="button" data-filter=".{{ group.name }}">{{ group.name }}</button>
                {% endfor %}
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="isotope" id="products">
                {% for product in products %}
                    <div class="product-item {{ product.group_list }}" data-category="{{ product.group_list }}">
                        <h3 class="name">{{ product.name }}</h3>

                        <p class="price">{{ product.price }}</p>

                        <p><a href="">Learn More</a></p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        // debounce so filtering doesn't happen every millisecond
        function debounce(fn, threshold) {
            var timeout;
            return function debounced() {
                if (timeout) {
                    clearTimeout(timeout);
                }
                function delayed() {
                    fn();
                    timeout = null;
                }

                timeout = setTimeout(delayed, threshold || 100);
            }
        }


        function setup_filtering() {
            var qsRegex;
            var buttonFilter;

            // init Isotope
            var $container = $('.isotope').isotope({
                itemSelector: '.product-item',
                layoutMode: 'fitRows',
                filter: function () {
                    var $this = $(this);
                    var searchResult = qsRegex ? $this.text().match(qsRegex) : true;
                    var buttonResult = buttonFilter ? $this.is(buttonFilter) : true;
                    return searchResult && buttonResult;
                }
            });

            $('#filters').on('click', 'button', function () {
                buttonFilter = $(this).attr('data-filter');
                $container.isotope();
            });

            // use value of search field to filter
            var $quicksearch = $('#quicksearch').keyup(debounce(function () {
                qsRegex = new RegExp($quicksearch.val(), 'gi');
                $container.isotope();
            }));


            // change is-checked class on buttons
            $('.button-group').each(function (i, buttonGroup) {
                var $buttonGroup = $(buttonGroup);
                $buttonGroup.on('click', 'button', function () {
                    $buttonGroup.find('.is-checked').removeClass('is-checked');
                    $(this).addClass('is-checked');
                });
            });
        }



        $(document).ready(function () {
            setup_filtering();
        });
    </script>
{% endblock %}
