{% extends "base.html" %}

{% block container %}
    <div class="container">
        {% include 'subnav.html' %}
        <div class="row">
            <div class="">
                <h1>Products</h1>
            </div>
        </div>

        <div class="row clearfix">

            <!--div class="col-sm-1 col-md-6 col-md-offset-3"-->
            <!--div id="filters" class="button-group col-md-12"-->
                <div class="col-md-3">
                    <input type="text" id="quicksearch" class="form-control"
                           placeholder="Search"
                           style="width: 100%; margin-left: 3px;"/>
                </div>
                <div class="button-group col-md-9" id="filters">
                    <div class="form-group pull-right">
                        <button type="button" class="filter-button btn btn-default"
                                data-filter="*">{{ _('Show All') }}</button>
                        {% for group in groups %}
                            <button type="button" class="filter-button btn btn-default"
                                    data-filter=".{{ group.name|remove_spaces }}">{{ group.name }}</button>
                        {% endfor %}
                    </div>
                </div>
            <!--/div-->
        </div>
        <div class="row">
            <!--/div>

            <div class="col-md-5"-->
            <div class="isotope" id="products">
                {% for product in products %}
                    <div class="product-item {{ product.group_list }} col-md-3"
                         data-category="{{ product.group_list }}">
                        <img src="{{ product.image }}" style="width: 100%; "/>

                        <h3 class="name">{{ product.name }}</h3>

                        <p class="description">{{ product.description }}</p>

                        <div class="clearfix">
                            <p class="price pull-left">Price: ${{ product.unit_price }}</p>

                            <div class="pull-right">
                                Quantity:
                                <select>
                                    <option>1</option>
                                    <option>2</option>
                                </select>
                            </div>
                        </div>

                        <p><a href="">Learn More</a></p>

                    </div>
                {% endfor %}
            </div>
            <!--/div-->
        </div>

        <!--div class="clearfix"></div-->
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        // debounce so filtering doesn't happen every millisecond
        function debounce(fn, threshold) {
            var timeout;
            return function debounced() {
                if (timeout) {
                    clearTimeout(timeout);
                }
                function delayed() {
                    fn();
                    timeout = null;
                }

                timeout = setTimeout(delayed, threshold || 100);
            }
        }


        function setup_filtering() {
            var qsRegex;
            var buttonFilter;

            // init Isotope
            var $container = $('.isotope').isotope({
                itemSelector: '.product-item',
                layoutMode: 'fitRows',
                filter: function () {
                    var $this = $(this);
                    var searchResult = qsRegex ? $this.text().match(qsRegex) : true;
                    var buttonResult = buttonFilter ? $this.is(buttonFilter) : true;
                    return searchResult && buttonResult;
                }
            });

            $('#filters').on('click', 'button', function () {
                buttonFilter = $(this).attr('data-filter');
                $container.isotope();
                $(".button-group").find(".btn-primary").removeClass("btn-primary");
                $(this).addClass('btn-primary')
            });

            // use value of search field to filter
            var $quicksearch = $('#quicksearch').keyup(debounce(function () {
                qsRegex = new RegExp($quicksearch.val(), 'gi');
                $container.isotope();
            }));


            // change is-checked class on buttons
            $('.button-group').each(function (i, buttonGroup) {
                var $buttonGroup = $(buttonGroup);
                $buttonGroup.on('click', 'button', function () {
                    $buttonGroup.find('.is-checked').removeClass('is-checked');
                    $(this).addClass('is-checked');
                });
            });
        }


        $(document).ready(function () {
            setup_filtering();
        });
    </script>
{% endblock %}
