{% extends "base.html" %}

{% block container %}
    {{ super() }}

    <div class="container">
        <div class="row">
            <h2 class="text-center bg-primary col-md-offset-2 col-md-8" style="margin-bottom: 25px; padding: 10px;">You
                are signing up as a {% if specialist %}specialist{% else %}member{% endif %} under {{ identity }}</h2>
        </div>
        <div class="row" style="margin-bottom: 25px;">
            <form id="register-form" class="col-md-4 col-md-offset-4">
                <input type="hidden" value="{{ slug }}" name="slug" id="slug"/>

                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name"
                           required>
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name"
                           required>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <label for="email">E-Mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="E-Mail" required>
                </div>
                <div class="form-group">
                    <label for="email">Confirm E-Mail</label>
                    <input type="email" class="form-control" id="confirm-email" name="confirm-email"
                           placeholder="E-Mail" required>
                </div>
                <!--div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                </div-->
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                           required>
                </div>
                <div class="form-group">
                    <label for="password">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm-password" name="confirm-password"
                           placeholder="Password" required>
                </div>
                <input type="hidden" id="specialist" name="specialist" value={% if specialist %}"true"{% else %}"false"{% endif %}/>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        $(document).ready(function () {
            var token = $.cookie("token");
            if (valid_token()) {
                window.location = "/home/";
            }

            $("#register-form").submit(function (e) {
                e.preventDefault();

                $.ajax({
                    type: "POST",
                    url: "/ajax/register/",
                    data: $(this).serializeObject(),
                    success: function (data) {
                        console.log(data);
                        if (data.success) {
                            console.log(data);
                            login_info = $("#register-form").serialize();

                            $.post('/ajax/login/', login_info, function (login_data) {
                                console.log(login_data);
                                $.cookie("token", login_data.token, {path: '/', expires: 10});
                                if (data.specialist) {
                                    window.location = "/specialist/signup/"
                                } else {
                                    window.location = "/login/?registered=true";
                                }
                            }, "json");

                        } else {
                            var system_message = $("#system-message");


                            system_message.empty();

                            var new_alert = "<div class='alert alert-danger alert-dismissible' role='alert'>";
                            new_alert += "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>";
                            new_alert += "<span aria-hidden='true'>&times;</span>";
                            new_alert += "</button>";
                            new_alert += data.username[0];
                            new_alert += "</div>";
                            system_message.append(new_alert);
                            system_message.show("scroll");
                            console.log(data);
                        }
                    },
                    fail: function (data) {
                        console.log(data);
                    },
                    dataType: "json"
                });
                console.log($(this).serializeObject());
            });
        });
    </script>
{% endblock %}
