{% extends 'base.html' %}

{% block container %}
    <div class="container" style="margin-top: -50px;">
        <div class="page-header">
            <h1>Orders</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <button class="btn btn-primary" style="width: 100%;" onclick="location.href='/products/';">Place New Order</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3>Order History <a href="#"><small>Export to Excel</small></a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-condensed table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Invoice Link</th>
                        <th>Order #</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Date Placed</th>
                        <th>Date Shipped</th>
                        <th>Tracking Info</th>
                        <th>QV</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><span class="glyphicon glyphicon-list"></span></td>
                        <td>5555555</td>
                        <td>Autoship</td>
                        <td>Shipped</td>
                        <td>9/15/15</td>
                        <td>9/16/15</td>
                        <td>55552222</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-list"></span></td>
                        <td>555562</td>
                        <td>Autoship</td>
                        <td>Shipped</td>
                        <td>9/16/15</td>
                        <td>9/17/15</td>
                        <td>55552111</td>
                        <td>160</td>
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-list"></span></td>
                        <td>555576</td>
                        <td>Autoship</td>
                        <td>Processing</td>
                        <td>9/18/15</td>
                        <td>--</td>
                        <td>--</td>
                        <td>47</td>
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-list"></span></td>
                        <td>555582</td>
                        <td>Autoship</td>
                        <td>Processing</td>
                        <td>9/19/15</td>
                        <td>--</td>
                        <td>--</td>
                        <td>250</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
