{% extends 'base.html' %}

{% block container %}
    <div class="container" style="margin-top: -50px;">
        <div class="page-header">
            <h1>Orders</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <button class="btn btn-primary" style="width: 100%;" onclick="location.href='/products';">Place New Order</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3>Order History <a href="#"><small>Export to Excel</small></a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-condensed table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Invoice Link</th>
                        <th>Order #</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Date Placed</th>
                        <th>Date Shipped</th>
                        <th>Tracking Info</th>
                        <th>QV</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <td><span class="glyphicon glyphicon-list"></span></td>
                            <td>{{ order['id'] }}</td>
                            <td>{{ order['type'] }}</td>
                            <td>{{ order['status'] }}</td>
                            <td>{{ order['order_date'] }}</td>
                            <td>{{ order['shipped'] if order['shipped'] != None else '--' }}</td>
                            <td>{{ order['tracking'] if order['tracking'] != None else '--' }}</td>
                            <td>{{ order['qv'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
