<div class="row" id="subnav" style="">
    {% if language == 'es' %}
        <div class="col-md-3 col-lg-3">
            <img src="{{ url_for('static', filename='images/solle_logo_header.png') }}"/>
        </div>
    {% else %}
        <div class="col-md-3 col-lg-5">
            <img src="{{ url_for('static', filename='images/solle_logo_header.png') }}"/>
        </div>
    {% endif %}


    <!-- TODO: Make certain menus hidden based on the size and show other based on other sizes. -->
    <div class="{% if langauage == 'es' %}col-md-8{% else %}{% endif %} lead lead-no-margin hidden-xs" style="">

        <!--div class="col-md-9 lead lead-no-margin" style=""-->
        <a href="/" class="" style="margin-right: 25px;">{{ _('Home') }}</a>
        <a href="/products/" class="" style="margin-right: 25px;">{{ _('Products') }}</a>
        <a href="/about/" class="" style="margin-right: 25px;">{{ _('About Us') }}</a>
        <a href="/comp_plan/" class="" style="margin-right: 25px;">{{ _('Compensation Plan') }}</a>
        <a href="/contact/" class="" style="">{{ _('Contact') }}</a>
    </div>

</div>
