{% extends 'base.html' %}

{% block container %}
    <div class="container" style="margin-top: -50px;">
        <div class="page-header">
            <h1>SolleWallet</h1>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <button class="btn btn-primary" style="width: 100%;">Settings</button>
            </div>
            <div class="col-lg-2">
                <button class="btn btn-primary" style="width: 100%;">Export to Excel</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-condensed table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Type</th>
                        <th class="right">Amount</th>
                        <th class="right">Running Balance</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>5/5/15</td>
                        <td>SolleQuick Ending 5/4/15</td>
                        <td class="right">$100</td>
                        <td class="right">$200</td>
                    </tr>
                    <tr>
                        <td>5/3/15</td>
                        <td>Payout</td>
                        <td class="right">-$50</td>
                        <td class="right">$100</td>
                    </tr>
                    <tr>
                        <td>5/1/15</td>
                        <td>Monthly Commissions Ending 4/30/15</td>
                        <td class="right">$10,000</td>
                        <td class="right">$10,000</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
